
<h3>Welcome, {{key}}!</h3>
<div>
  <table class = "table table-bordered">
  <thead>
    <th>Category</th>
    <th>Topic</th>
    <th>User Name</th>
    <th>Posts</th>
  </thead>
  <tbody>
    <tr *ngFor = "let topic of topics">
      <td>{{topic.category}}</td>
      <td><a [routerLink]="['/singletopic',topic._id]">{{topic.content}}</a></td>
      <td><a [routerLink]="['/singleuser',topic._user.username]">{{topic._user.username}}</a></td>
      <td>{{topic.posts.length}}</td>
    </tr>
  </tbody>
</table>
<br>
<app-addtopic (createtopic) = "updatetopics()"></app-addtopic>
</div>
