<div class = "container">
  <h3>Movies Evan Likes</h3>
  <div>
      <label>Decade</label>
      <div>
          <select [(ngModel)]="decade">
              <option *ngFor="let x of decade" [value]="x">{{x}}</option>
            </select>
      </div>
  </div>
  <label for="search">Search: </label><input id= "search" [(ngModel)]="searchText" placeholder="Search by title">
  <ul class="list-group">
    <li class="list-group-item" *ngFor='let movie of movies | filter : searchText' (click) = "get_review(movie.id)"> {{movie.score*100}}% - <a href="{{movie.url}}" target="_blank"> {{movie.title}}</a> - {{movie.year}}</li>
  </ul>

  <ngb-accordion activeIds="config-panel-one" [closeOthers]="true">
    <ngb-panel id={{movie.id}} *ngFor='let movie of movies | filter : searchText'>
        <ng-template ngbPanelTitle>
            <span (click) = "get_review(movie.id)">{{movie.score*100}}% - <a href="{{movie.url}}" target="_blank"> {{movie.title}}</a> - {{movie.year}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class = 'container review' *ngIf = review>
              <div class="row">
                  <div class="col-xs-2 col-md-1">                   
                    <img src={{review.image_url}} alt=":(">
                  </div>
                  <div class="col-xs-10 col-md-11">
                    <p>{{review.review}}</p>   
                  </div>
                </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
</div>


